/*
Theme Name: Gustavo Pera
Theme URI: http://diegosanches.me/site-wordpress
Author: Diego Sanches 
Author URI: http://diegosanches.me/
Description: Theme adaptado para o Gustavo Pera
Version: 0.0.0
Copyright: Diego Sanches
Text Domain: diegosanches
Tags: Diego Sanches
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Base
2.0 Typography
3.0 Elements
4.0 Link Styling
5.0 Header
6.0 Content Area
7.0 Comments
8.0 Sidebars
9.0 Widgets with Lists
	9.1 Tag Cloud
	9.2 Search Widget
	9.3 Calendar Widget
10.0 Media
	10.1 Captions
	10.2 Galleries
11.0 Navigation - Pagination
	11.1 Mobile Menu
	11.2 Footer Menu
	11.3 Bottom Social Menu
12.0 Footer
13.0 Pages - Attachment Page
	13.1 Error Page
14.0 Form Styling
15.0 Infinite scroll
16.0  Accessibility
17.0 Media Queries
	
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Base
--------------------------------------------------------------*/
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-webkit-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
	font-size: 100%; /* Default browser 16px */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	 -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
     box-sizing: border-box;
}
body {
	font-size: 0.813rem; /* Content 13px */
  line-height: 1.65;
	color: #333;
	background-color: #FFF; /* Fallback for when there is no custom background color defined. */
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

/* clearing */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background-color: #000;
}

::selection {
    color: #fff;
    background-color: #000;
}

/*--------------------------------------------------------------
2 Typography
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin:0;
	line-height: 1.1;
	
	font-weight: 400;
	color: #333;
}
h1, h2, h3 {
  margin-bottom: 16px;
}
h4, h5, h6 {
  margin-bottom: 16px;
}

h1 {
  font-size: 1.938rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.375rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
.display-1,
.display-2,
.display-3,
.display-4 {
	font-weight: 400;
}
.display-4 {
	font-size: 2.688rem;
}
.display-3 {
	font-size: 2.25rem;
}
.display-2 {
	font-size: 1.75rem;
}
.display-1 {
	font-size: 1.5rem;
}
p {
    margin: 0 0 1.5rem;
}

.lead {
    font-size: 1rem;
	font-weight:400;
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-muted {
  color: #818a91;
}
.bypostauthor {}

.dropcap {
    font-size: 4.750rem;
	font-style: italic;
	font-weight: 600;
    line-height: .8;
    display: inline-block;
    float: left;
    margin: 0 6px 0 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}
code {
    padding: 3px 8px;
    font-size: 95%;
    color: #bd4147;
    background-color: #F5F5F5;
    border-radius: 4px;
}

kbd {
    padding: 1px 6px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #818a91;
}

mark,
ins {
	background-color: #FBFBA4;
	text-decoration: none;
	padding: 0 5px;
}
big {
	font-size: 125%;
}
small {
  font-size: 80%;
}

code,
kbd,
tt,
var {
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}



/*--------------------------------------------------------------
3 Elements
--------------------------------------------------------------*/

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

blockquote {
	margin: 1.5rem;
	padding: 0 20px;
	border-left: 3px solid #b7aa6f;
	color: #b7aa6f;
}
blockquote p {
    margin-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.4;
    font-style: italic;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  border-top: 1px solid #e8e8e8;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #818a91;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dl {
    margin: 30px 0;
}
dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}


/* tables */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
}
table thead th,  
table thead td {
	color: #222;
	background: #e6e6e6;
}
caption, th {
    font-size: 0.813rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
th, td {
    padding: 6px 12px;
}
tr:nth-child(odd) {
    background-color: #f5f5f5;
}
.table {
	    margin: 30px 0;
}

/*--------------------------------------------------------------
4 Link Styling
--------------------------------------------------------------*/
a,
a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #333;
}

.site-title a {
	color: #000;
}

.more-link,
.more-link:visited {
	display: inline-block;
	width: 30px;
	height: 30px;
    padding: 5px;
    border: 1px solid #cbcbcb;
	background-color: #fff;
    text-decoration: none;
	text-align: center;
    color: #000;
	border-radius: 50%;
	-webkit-transition: background-color .15s ease-out;
    -moz-transition: background-color .15s ease-out;
    -ms-transition: background-color .15s ease-out;
    -o-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
}

.more-link:hover {
    border: 1px solid #000;
	background-color: #000;
}
.more-link .read-more-icon {
    color: #787878;
    font-size: 14px;
    	-webkit-transition: color .2s ease-in-out;
	    -moz-transition: color .2s ease-in-out;
	      -ms-transition: color .2s ease-in-out;
	         -o-transition: color .2s ease-in-out;
	              transition: color .2s ease-in-out;
}
.more-link:hover .read-more-icon {
    color: #fff;
}

/*--------------------------------------------------------------
5 Header
--------------------------------------------------------------*/
.site-header {	
	text-align: center;
}

#site-branding {
	min-height: 2rem;
	position: relative;
	padding: 2%;
}

.site-title {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
}
.site-title a {
    font-family: "Oswald", sans-serif;
    font-style: italic;
    display: inline-block;
    background-color: #000;
    color: #FFF !important;
    font-size: 20px;
    padding: 3px 15px 5px 15px;
    letter-spacing: 5px;
    border-radius: 100px;
}

.site-description {
	font-weight: 400;
	color: #000;
	line-height: 1.5;
	max-width: 90%;
    margin: 10px auto 0;
}


/*--------------------------------------------------------------
6 Content Area
--------------------------------------------------------------*/
.page .site-main,
.single .site-main {
    background-color: #fff;
}
.single .site-main {
    padding: 0 2.5%;
}
.page article,
.page article p:last-child {
    margin-bottom: 1rem;
}
 
.content-width {
	max-width: 1280px;
	padding: 0;
	margin: auto;
}
.entry-header {
/*	min-height: 30px;
    margin-bottom: 0.5rem;
	*/
}
.entry-title {
	    margin: 0 0 20px;
}
.entry-title a {
	text-decoration: none;
	color: #000;
	font-weight: 400;
}
.blog .entry-title {
    margin: 0 0 10px;
}
.hentry {
    width: 27%;
    padding: 0px;
    margin: 1%;
    float: left;
    overflow: hidden;
}
.single-post .hentry,
.page-template-default .hentry {
    width: 95%;
    float: none;
}


.hentry .entry-summary {
    display: none;
}
.single-post .hentry .entry-summary {
    display: block;
}




.sticky {}
.featured {
	color: #c5b256;
	text-transform: uppercase;
	font-size: 0.938rem;
    letter-spacing: 1px;
}
.page .wp-post-image {
    margin: 0 0 40px;
}
.page-template-template-imageposts .wp-post-image {
	margin: 0;
}
/* Blog Style 1 - Top */
.blogstyle1 .page-header {
	padding: 0 0 20px;
}
.blogstyle1.site-main {
	background-color: #fff;
  margin-left: 25px;
}
.blogstyle1 {
   padding: 0;
}
.blogstyle1 .featured-image-wrapper {
    margin: 0;
}
.blogstyle1 .wp-post-image {
	margin-bottom: 0;
}
.blogstyle1 .entry-summary {
	max-width: 1024px;
}
.blogstyle1 .entry-title {
	    line-height: 1.1;	
}
.blogstyle1 .entry-meta {
	margin: 5px 0 10px;
    min-height: 3px;
}
.entry-meta {
    margin-bottom: 0.75rem;
}
.entry-meta, 
.entry-meta a, 
.entry-meta a:visited {
    color: #919191;
	text-decoration:none;
	font-size: 0.75rem;
}
.entry-meta .entry-format,
.entry-meta .posted-on,
.entry-meta .byline,
.entry-meta .comments-link {
    margin: 0 7px;
}

.entry-meta span:first-child {
    margin-left: 0;
}
.entry-meta span:after {
    content: "\002F";
    position: relative;
    left: 7px;
    font-size: 0.75rem;
    color: #919191;
}
.entry-meta span:last-child:after {
    content: "";
}

.image-post .entry-meta {
	display:none;
}


/* Blog Style 2 and Blog Style 3 - Top Center with left summary*/
.blogstyle2 .page-header {
    max-width: 50%;
	margin: auto;
    padding: 0 0 20px;
}
.blogstyle2.site-main {
	background-color: #fff;
}
.blogstyle2,
.blogstyle3 {
   padding: 2% 2.5%;
}
.featured-image-wrapper {
    max-width: 1024px;
    margin: auto;
}
.blogstyle2 .featured-image-wrapper,
.blogstyle3 .featured-image-wrapper {
    text-align: center;
}
.blogstyle2 .wp-post-image {
	display: block;
}
.blogstyle2 .wp-post-image,
.blogstyle3 .wp-post-image {
	margin-bottom: 2rem;
}
.blogstyle2 .entry-summary,
.blogstyle3 .entry-summary {
	max-width: 1024px;    
	margin: auto;
}
.blogstyle2 .entry-title,
.blogstyle3 .entry-title {
	    line-height: 1.1;	
}
.blogstyle2 .entry-meta,
.blogstyle3 .entry-meta {
	margin: 5px 0 20px;
    min-height: 3px;
}

/* Blog Style 3 - Top Center  with centered summary */
.blogstyle3 .page-header {
	max-width: 50%;
	margin: auto;
    padding: 0 0 20px;
	text-align: center;
}
.blogstyle3.site-main {
	background-color: #fff;
}
.blogstyle3 .entry-summary {
	max-width: 1024px;    
	margin: auto;
	text-align: center;
}

/* Blog Style 4 - Top Right Column */
.blogstyle4 .page-header {
    padding: 0 20px 20px;
}
.blogstyle4.site-main {
	background-color: #fff;
}
.blogstyle4 {
   padding: 2% 2.5%;
}
.blogstyle4 .wp-post-image {
	margin-bottom: 2rem;
}
.blogstyle4 .entry-title {
	    line-height: 1.1;	
}
.blogstyle4 .entry-meta {
	margin: 5px 0 20px;
    min-height: 3px;
}

/* Blog Style 5 - Left featured image */
.blogstyle5 .page-header {
    padding: 0 0 20px;
}
.blogstyle5 {
   padding: 2% 2.5%;
}
.blogstyle5 .hentry {
    background-color: #fff;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
}
.blogstyle5 .featured-image-wrapper {
	max-width: 100%;
}
.blogstyle5 .entry-summary {
	max-width: 100%;
	padding: 3% 4%;
}

/* Blog Style 6 - Masonry */
.blogstyle6 .page-header {
    padding: 0 20px 20px;
}
.blogstyle6.site-main {
	background-color: #fff;
}
.blogstyle6 {
	 padding: 2% 1.125%;
}

.article-inner {
	background-color: #fff;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
}
.blogstyle6 .entry-summary {
    padding: 50px 20px 20px;
	text-align: center;
}
.blogstyle6 .featured-image-wrapper {
	position: relative;
}
.blogstyle6 .date-box {
	width: 70px;
	height: 70px;
	position: absolute;
	bottom: -35px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	background-color: #000;
	color: #fff;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50%;
}
.blogstyle6 .date-box-inner {
	width: 100%;
	position: absolute;
	text-align: center;
	top: 50%;
	    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.blogstyle6 .month,
.blogstyle6 .day,
.blogstyle6 .year {
	display:block;
	text-align: center;
}
.blogstyle6 .month {}
.blogstyle6 .day {
    font-size: 14px;
    font-weight: 600;
}
.blogstyle6 .year {}

.blogstyle6 .entry-title {
    font-size: 1.313rem;
}

/* image-post - Photo grid */
.image-post.site-main {
	background-color: #fff;
	padding: 0 0 2.5%;
}

.image-post .hentry {
	max-width: 100%;
	float: left;
	margin:0;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}
.image-post .featured-image-wrapper {
	position: relative;
	overflow: hidden;
}
.image-post .wp-post-image {
	position: relative;
}
.image-post .featured-image-link {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: none!important;
    color: transparent!important;
    z-index: 2;
}
.dark-overlay {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #000;
    opacity: 0;
}

.dark-overlay:hover {
    opacity: 1;
}
.image-post .text-holder {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 110;
    opacity: 0;
    filter: alpha(opacity = 0);
    overflow: hidden;
    padding: 25px 30px;
	padding: 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    -webkit-transform: translateZ(0px);
}
.image-post .text-holder:hover {
    opacity: 1;
	cursor: pointer;
	    background-color: #000;    
		-webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.image-post .text-holder2 {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}
.image-post .text-holder3 {
    position: relative;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.image-post .entry-title {
    font-size: 0.813rem;
    margin-bottom: 6px;
}

.image-post .entry-title a,
.image-post .entry-meta, 
.image-post .entry-meta a, 
.image-post .entry-meta a:visited,
.image-post .entry-meta span:after {
    color: #fff;
}

/* Single full post */
.single .wp-post-image {
	margin-bottom: 2rem;
}
.single .entry-meta {
	margin: 5px 0 20px;
    min-height: 3px;
}
.single .entry-footer {
    margin: 50px 0 20px;
}
.author-info-box {
    margin: 30px 0 0;
	padding: 15px;
    background-color: #f7f7f7;
}
.author-info {
	display:block;
	min-height: 80px;
    margin: 0 0 0 85px;
    position: relative;
}
.author-avatar {
	display: inline-block;
	height: 60px;
    width: 60px;
	float: left;
}
.author-bio {
    padding: 8px 0 0;
    font-style: italic;
}
.single .avatar {
    border-radius: 50%;
}
.author-name {
	margin: 0;
}
.author-website {
    margin: 7px 0;
    font-style: italic;
    font-size: 0.813rem;
}
.cat-links, 
.tags-links {
    text-transform: uppercase;
    font-size: 0.813rem;
}
.cat-links a,
.tags-links a {
    text-transform: none;
}

/*--------------------------------------------------------------
7 Comments
--------------------------------------------------------------*/
.comments-title {
    margin: 0;
    font-size: 1.375rem;
}
.comments-title span {
    font-style: italic;
}
.comment-list {
    margin: 0;
    padding: 20px 0;
    list-style: none;
}
.comment {
    padding: 0;
}
.comment p {
	margin: 0 0 1.5rem;
}
.comment-info p {
    margin-bottom: 14px;
}
.comment-list{
	list-style: none;
	position: relative;
	z-index: 2;
	padding: 0;
	margin: 16px 0 0;
}
.comment-list li{
	display: inline-block;
	position: relative;
	width: 100%;
}
.comment-list > li{
	margin: 12px 0 0;
}
.comment-wrapper {
	margin: 10px 0 0;
}
.comment-wrapper .avatar {
    float: left;
    margin: 0 16px 0 0;
	border-radius: 50%;
}
.comment-meta {
     margin-bottom: 6px;
    min-height: 50px;
}
.comment-metadata {
    line-height: 1.2;
    font-size: 0.75rem;
    float: left;
    font-style: italic;
}
.comment-info .fn {
    font-size: 1rem;
    font-style: normal;
}
.comment-info .fn a {
    color: #616161;
}
.comment-edit-link, 
.comment-reply-link {
    margin-left: 8px;
}
.comment-reply-link {
    font-weight: 600;
}
.logged-in-as {
	margin: 10px 0;
    font-style: italic;
}
.comment-wrapper .form-submit {
	margin: 0 0 20px;
}
.comment-list li ul.children {
	margin: 0;
	padding: 0 0 0 40px;
}
#respond h3 {
	margin: 0 0 15px 0;
}
#respond h3.comment-reply-title{
	margin:0;
	font-size: 1.25rem;
	font-weight: 600;
}
#respond small {
	display: block;
	margin: 0;
	position: relative;
}
.comment .comment-respond{
	margin-top: 40px;
}
#respond textarea,
#respond input[type='text'] {
	position: relative;
	width:100%;
	margin: 0 0 15px 0;
	padding: 10px 17px;
	outline: 0;
	resize: none;
	font-family: inherit;
	font-size: inherit;
	line-height: 18px;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#respond textarea {
	padding: 15px 17px;
}
#respond textarea {
	margin: 0 0 12px;
}
.comment-form {
	display: inline-block;
	margin: 0 0 40px;
	width: 100%;
	padding:0;
}
.comment-form form p.form-submit,
.comment p.form-submit {
	margin: 0;
}
.comment-reply-login {
	margin-left: 10px;
}
.comment-form form p.form-submit .success p{
	margin: 10px 0 0;
}
.comment-form form p.logged-in-as{
	margin: 0 0 17px;
	font-size: 12px;
	font-weight: 400
}
#cancel-comment-reply-link {
    margin: 0px;
    display: inline-block;
    width: 100%;
    font-size: 0.813rem;
    font-weight: 600;
}
.comment blockquote {
	display: block;
	background: #fff;
	padding: 7px 20px 7px 45px;
	margin: 0 0 20px;
	position: relative;
	font-size: 0.875rem;
	line-height: inherit;
	font-style: italic;
}
.comment blockquote p {
	margin: 0;
}
.comment blockquote:before {
	content: "\201C"; /*Unicode for Left Double Quote*/
	font-size: 3rem;
	font-weight: 600;
	color: #838383;
	position: absolute;
	left: 10px;
	top: -8px;
}


/*--------------------------------------------------------------
8.0 Footer
--------------------------------------------------------------*/
#footer-wrapper {
	margin-bottom: 30px;
	padding: 25px;
  background-color: #FFF !important;
  color: #c2c2c2;
	font-size: 0.75rem;
	text-align: center;
}

.site-footer {
    position: relative;
    width: 100%;
    padding: 0;
    text-align: center;
}
.site-info {
    font-size: 0.75rem;
}
.sidebar .site-info {
    display: none;
}
.page-footer {
	margin: 20px 20px 0;
	text-align: center;
}

/*--------------------------------------------------------------
8 Sidebars
--------------------------------------------------------------*/
#sidebar-right .widget {
    margin-bottom: 12%;
}

#sidebar-banner {
    margin-bottom: 1%;
	border-bottom: 6px solid #eee;
}

.blogstyle6 #sidebar-banner {
    padding: 0 1.25% 2.25%;
}
#bottom-wrapper {
	padding: 2% 0;
	background-color: #333;
	color: #ccc;
}
#content-top-wrapper,
#content-bottom-wrapper {
	padding: 0 0 2%;
	background-color: #fff;
}
#top-wrapper {
    padding-top: 2%;
}
#content-bottom-wrapper {
    padding: 2% 0 0;
}
#bottom-wrapper {
	padding: 2% 0;
	background-color: #333;
	color: #ccc;
}

#sidebar-footer {
    max-width: 1160px;
    margin: auto;
	padding: 0 5%;
}


/*--------------------------------------------------------
9 Widgets with Lists
--------------------------------------------------------*/
.widget_text p:last-child {
	margin-bottom: 0;
}
.widget_archive a,
.widget_categories a,
.widget_links a,
.widget_meta a,
.widget_nav_menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a,
.widget_archive a:visited,
.widget_categories a:visited,
.widget_links a:visited,
.widget_meta a:visited,
.widget_nav_menu a:visited,
.widget_pages a:visited,
.widget_recent_comments a:visited,
.widget_recent_entries a:visited {
	border: 0;
}
.widget_archive a:hover,
.widget_categories a:hover,
.widget_links a:hover,
.widget_meta a:hover,
.widget_nav_menu a:hover,
.widget_pages a:hover,
.widget_recent_comments a:hover,
.widget_recent_entries a:hover {
	
}

.widget_archive ul,
.widget_categories ul,
.widget_links ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
	list-style: none;
	margin: 20px 0;
	padding:0;
}

.widget_archive li,
.widget_categories li,
.widget_links li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_recent_comments li,
.widget_recent_entries li {
	border-top: 1px solid #e6e6e6;
	padding: 0.5rem 0;
}
#sidebar-bottom .widget_text a {
	text-decoration: underline;
}
#sidebar-bottom li {
	border-color: #444;
}

.widget_archive li:first-child,
.widget_categories li:first-child,
.widget_links li:first-child,
.widget_meta li:first-child,
.widget_nav_menu li:first-child,
.widget_pages li:first-child,
.widget_recent_comments li:first-child,
.widget_recent_entries li:first-child {
	border-top: 0;
	padding-top: 0;
}

.widget_archive li:last-child,
.widget_categories li:last-child,
.widget_links li:last-child,
.widget_meta li:last-child,
.widget_nav_menu li:last-child,
.widget_pages li:last-child,
.widget_recent_comments li:last-child,
.widget_recent_entries li:last-child {
	padding-bottom: 0;
}

.widget_categories .children,
.widget_nav_menu .sub-menu,
.widget_pages .children {
	border-top: 1px solid #e6e6e6;
	margin: 0.5rem 0 0 0.8em;
	padding-top: 0.5rem;
}
#sidebar-bottom .widget_categories .children,
#sidebar-bottom .widget_nav_menu .sub-menu,
#sidebar-bottom .widget_pages .children {
	border-color: #b9bbb2;
	padding-top: 0;
}
.widget_recent_entries .post-date {
	display: block;
}
#sidebar-bottom li {
    padding: 5px 0;
}


/*--------------------------------------------------------
9.1 Tag Cloud
--------------------------------------------------------*/
.widget .tagcloud a{
	margin: 0 3px 5px 0;
	color: #686868;
	border: 1px solid #d9d9d9;
	padding: 0px 16px;
	line-height:30px;
	height:32px;
	display:inline-block;
	vertical-align:middle;
	font-size:10px !important;
	font-weight: 500;
	text-transform:uppercase;
	letter-spacing:1px;
	-webkit-transition: 	background-color .2s ease-in-out;
	-moz-transition: 		background-color .2s ease-in-out;
	-ms-transition: 		background-color .2s ease-in-out;
	-o-transition: 			background-color .2s ease-in-out;
	transition: 				background-color .2s ease-in-out;
	-webkit-transition: 	border-color .2s ease-in-out;
	-moz-transition: 		border-color .2s ease-in-out;
	-ms-transition: 		border-color .2s ease-in-out;
	-o-transition: 			border-color .2s ease-in-out;
	transition: 				border-color .2s ease-in-out;
}
.widget .tagcloud a:hover {
	color: #f3f3f3;
	border-color: transparent;
	background-color: #303030;
}
#sidebar-bottom .tagcloud a {
	text-decoration: none;
	border-color: #b9bbb2;
	color: #fff;
}
#sidebar-bottom .tagcloud a:hover {
	background-color: #303030;
	border-color: transparent;
	color: #f3f3f3;
}

/*--------------------------------------------------------
9.2 Search Widget
--------------------------------------------------------*/
.widget .widget-title {
	margin-bottom: 12px;
}
.widget .input-search {
	border: 1px solid #ebebeb;
	margin: 12px 0 6px;
	width: 100%;
	background-color: #fff;
}
.widget .button-search {
	width: 100%;
	text-align: center;
	border: 0;
}
.widget .button-search:hover {
	background-color: #303030;
}
.widget .button-search {
    background-color: #000;
    color: #fff;
}
/* Search widget. */
.widget_search .search-submit {
	display: none;
}


/*--------------------------------------------------------
9.3 Calendar Widget
--------------------------------------------------------*/
.widget_calendar caption {
	background-color: #303030;
	margin-bottom: 1px;
	padding: 5px 3px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.widget_calendar th {
	background-color: #e2e3e4;
	border-left: 1px solid rgba(0, 0, 0, 0);
	color: #333;
	text-align: center;
	font-weight: bold;
}
.widget_calendar tbody, .widget_calendar thead {
	border: 1px solid #e2e3e4;
}
.widget_calendar tbody td {
	background-color: #fcfdfd;
	border-left: 1px solid rgba(0, 0, 0, 0);
	 border-top: 1px solid rgba(0, 0, 0, 0);
	text-align: center;
}
.widget_calendar tbody td:first-child {
	border-left: none;
}
.widget_calendar tbody td#today {
	background-color: #f3f3f3;
	font-weight: bold;
}
.widget_calendar tbody td#today a {
	color: #fff;
}
 .widget_calendar tfoot {
	 background-color: #e2e3e4;
 }
 #wp-calendar tfoot td {
    padding: 3px 0 3px 10px;
    text-transform: uppercase;
    font-size: 11px;
}


/*--------------------------------------------------------------
10.0 Media
--------------------------------------------------------------*/
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
.alignleft {
    float: left;
    margin: 0 4% 2% 0;
}
.alignright {
    float: right;
    margin: 0 0 2% 4%;
}
.aligncenter {
	display: block;
    margin: 0 auto 2%;
}
.alignnone {
    float: none;
    margin: 0 0 2%;
}
.figure {
    display: inline-block;
}
figcaption {
    color: #888;
	font-style:italic;
}
[id^="attachment_"] .wp-caption-text,
[id*=" attachment_"] .wp-caption-text {
	color: #505050;
}
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}



/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
10.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
10.2 Galleries
--------------------------------------------------------------*/

/* WP Gallery up to 9 columns */
.gallery {
   max-width: 100%;
    margin: 4% 0;
}
.gallery img{ /* for Firefox */
    max-width: 100%;
	display: block;
}
.gallery .gallery-item {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 -5px;
	padding: 0 1px 0 0;
    text-align: center;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery .gallery-caption {
	opacity: 0;
	width: calc(100% - 1px);
	position: absolute;
	left: 0;
    bottom: 0;
	color: #fff;
    text-align: center;
    box-sizing: border-box;
	padding: 10px;
	background-color: #000;
	/* lets create animated captions ending at 10px */
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition-duration:  .3s;
	transition-duration:  .3s;
}
.gallery-item:hover .gallery-caption {
	opacity: 1;
	/* lets create animated captions starting from 0 */
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}
/* Thumbnails are too small so lets hide the captions */
.gallery-columns-6 .gallery-caption, 
.gallery-columns-7 .gallery-caption,  
.gallery-columns-8 .gallery-caption,  
.gallery-columns-9 .gallery-caption {
	display: none;
}

.gallery-icon.landscape {
    float: left;
}
.wp-caption-text {	
	color: #fff;
	font-size: 0.813rem;
	line-height: 1.2;
	text-align: center;
	font-style:normal;
    text-transform: uppercase;
}
.wp-caption {
    max-width: 100%;
}

/*--------------------------------------------------------------
11.0 Navigation - Pagination 
--------------------------------------------------------------*/
.pagination {
    padding: 0 20px;
    text-align: center;
	background-color: #f1f1f1;
}

/* blog home navigation */
.post-nav-older,
.post-nav-newer {
font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    display: inline-block;
	position: relative;
}
.post-nav-older,
.post-nav-newer {
	float: none;
    margin: 10px 7px;
}
 
.post-nav-older:before,
.post-nav-newer:after {
	font-family: FontAwesome;
	font-size: 0.813rem;
	content: "\f101";
	margin-left: 5px;
}
.post-nav-older:before {
	content: "\f100";
	margin: 0 5px 0 0;
}
/* Image Post navigation */
.image-post .pagination {
    clear: both;
    padding: 20px 30px;
}

/* single post navigation */
.post-navigation {
	display: table;
	clear: both;
	width: 100%;
	margin: 32px 0 28px;
}
.post-navigation .nav-previous,
.post-navigation .nav-next,
.comment-navigation .nav-previous,
.comment-navigation .nav-next {
  width: 50%;
}
.post-navigation .nav-previous,
.comment-navigation .nav-previous {
  float: left;
}
.post-navigation .nav-next,
.comment-navigation .nav-next {
  float: right;
  text-align: right;
}
.post-navigation .meta-nav {
	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.688rem;
}
.post-navigation .post-title {
 	font-size: 0.813rem;
}
.comment-navigation {
  margin-bottom: 20px;
}
.comment-navigation a,
.nav-link {
  font-style: italic;
}
.page-links {
  margin: 20px 0;
  font-style: italic;
}
.single .page-links {
  text-align: left;
}

/* attachment nav */
.image-navigation .nav-previous, .image-navigation .nav-next {
    display: inline-block;
    font-size: 2rem;
}

/*--------------------------------------------------------------
11.1 Mobile Menu
--------------------------------------------------------------*/
/**** MAIN MOBILE MENU ****/
.main-navigation {
	font-size: 0.813rem;
	font-weight: 400;
	text-transform:uppercase;
  padding: 4% 9% !important;
}
.main-navigation.toggled-on ul {
	list-style: none;
	margin: 0;
	padding: 0;	
	text-align:left;
}

.main-navigation.toggled-on li {
    border-top: 1px solid #2a2a2a;
}
.main-navigation.toggled-on a,
.main-navigation.toggled-on li.home a {
	display: block;
	padding: 4px 12px;
	text-decoration: none;
}


/* Indent the mobile submenus */
.main-navigation.toggled-on ul a { width: auto; }
.main-navigation.toggled-on ul a { padding-left: 1.250rem; }
.main-navigation.toggled-on ul ul a { padding-left: 2.50rem; }
.main-navigation.toggled-on ul ul ul a { padding-left: 3.750rem; }
.main-navigation.toggled-on ul ul ul ul a { padding-left: 5rem; }
.main-navigation.toggled-on ul ul ul ul ul a { padding-left: 6.250rem; }

/* Colour the hover and active mobile menu links */
.main-navigation.toggled-on li.home a:hover,
.main-navigation.toggled-on a:hover,
.main-navigation.toggled-on .current-menu-item > a,	
.main-navigation.toggled-on .current-menu-item > a,
.main-navigatio.toggled-onn .current-menu-ancestor > a {
	color: #333;
}
	
.main-navigation .nav-menu {
  letter-spacing: 1px;
	display: none;
}
.menu-main-menu-container,
.toggle-container {
	margin: 0;
}
.main-navigation.toggled-on .nav-menu {
	display: block;
	background-color: #000;
    padding: 20px 0 10px;	
}
.toggle-container { 
	display: block; 
	text-align: center;
}
.main-navigation.toggled-on ul.nav-menu  {
	border-bottom: 1px solid #2a2a2a;
}

/* Mobile menu button */
.menu-toggle {
    display: block;
    margin: auto;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    height: 32px;
    background-color: #3f3f3f;
    color: #fff;
}
.menu-toggle:active,
.menu-toggle:focus,
.menu-toggle:hover {
	color: #fff;
	background-color: #535353;
	outline: 0 dotted;
}


/*--------------------------------------------------------------
11.2 Footer Menu
--------------------------------------------------------------*/

#footer-menu {
	list-style: none;
	margin: 5px 0 3px;
	padding:0;
	text-align: center;
}
#footer-menu li {
	display: inline;	
}
#footer-menu a {
	   font-size: 0.75rem;
}
#footer-menu a:hover {}

#footer-menu li:after {
	content: '| ';
	margin: 0 2px 0 5px;
	font-size: 0.5rem;
	display: inline-block;
	vertical-align: middle;
	color: #ccc;
}
#footer-menu li:last-child:after {
 	display: none;
}


/*--------------------------------------------------------------
11.3 Bottom Social Menu
--------------------------------------------------------------*/
.social-menu {
  	margin: 0 0 8px;
	text-align: center;
}
.social-icons {
	height: 32px;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}
.social-icons li {
	display: inline-block;
	margin: 2px;
	text-align: center;
}
.social-icons a {
    display: inline-block;
    height: 32px;
    position: relative;
    width: 32px;
    font-family: "FontAwesome";
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.social-icons a:hover {	
	text-decoration: none;
	background-color: #626466;			
	color: #fff;	

}
.social-icons a:before {
	position: absolute;
	left: 0;
	right:0;	
	content: "\f013";
	font-size: 1rem;
  	line-height: 2;
}

.social-icons a[href$="/feed/"]:before,
.social-icons a[href*="feeds.feedburner.com"]:before {
	content: "\f09e";
}
.social-icons a[href*="deviantart.com"]:before {
	content: "\f1bd";
}
.social-icons a[href*="digg.com"]:before {
	content: "\f1a6";
}
.social-icons a[href*="dribbble.com"]:before {
	content: "\f17d";
}
.social-icons a[href*="facebook.com"]:before {
	content: "\f09a";
}
.social-icons a[href*="flickr.com"]:before {
	content: "\f16e";
}
.social-icons a[href*="plus.google.com"]:before,
.social-icons a[href*=".google.com"]:before {
	content: "\f0d5";
}
.social-icons a[href*="github.com"]:before {
	content: "\f1d3";
}
.social-icons a[href*="instagram.com"]:before {
	content: "\f16d";
}
.social-icons a[href*="linkedin.com"]:before {
	content: "\f0e1";
}
.social-icons a[href*="pinterest.com"]:before {
	content: "\f0d2";
}
.social-icons a[href*="reddit.com"]:before {
	content: "\f1a1";
}
.social-icons a[href*="stumbleupon.com"]:before {
	content: "\f1a4";
}
.social-icons a[href*="tumblr.com"]:before {
	content: "\f173";
}
.social-icons a[href*="twitter.com"]:before {
	content: "\f099";
}
.social-icons a[href*="vimeo.com"]:before {
	content: "\f194";
}
.social-icons a[href*="wordpress.com"]:before,
.social-icons a[href*="wordpress.org"]:before {
	content: "\f19a";
}
.social-icons a[href="xing.com"]:before {
	content: "f168";
}
.social-icons a[href*="youtube.com"]:before {
	content: "\f16a";
}
.social-icons a[href*="vk.com"]:before {
	content: "\f189";
}
.social-icons a[href^="mailto:"]:before {
	content: "\f0e0 ";
}



/*--------------------------------------------------------
13.0 Pages - Attachment Page
--------------------------------------------------------*/

.attachment.hentry {
    text-align: center;
}
.attachment .page-title {
	font-weight: 400;
	font-size: 1.75rem;
}

.attachment .featured-image-wrapper {
    text-align: center;
    background-color: #212121;
	padding: 10px 0;
    margin: 32px auto;
}
.attachment  .featured-image-wrapper img {
    display: block;
    margin: auto;
}
.attachment .entry-caption p {
    margin: 0; 
	font-size: 1.125rem;
}
.attachment #content {
    float: none;
}
.attachment .entry-content p {
    width: 75%;
    margin: 20px auto;
}
.single .attachment .entry-header {
    text-align: center;
}
#image-navigation a,
#image-navigation a:visited {
    color: #000;
}


/*--------------------------------------------------------------
13.1 Error Page
--------------------------------------------------------------*/	
.error404 {
 background: url(images/error404.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.not-found {
	margin-left: 0;
}
#error-overlay {
    width: 100%;
	background-color: rgba(0,0,0,0.4);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 40px 20px 60px 20px;
    text-align: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; 
    color: #fff;
}
#error-title {
	margin-bottom: 0;
    font-size: 10rem;
	line-height: 1;
    color: #fff;
	text-shadow: 1px 1px #000;
}
#error-message {
	max-width: 90%;
    font-size: 1.5rem;
	text-shadow: 1px 1px #000;
    line-height: 1.3;
    margin: 0 auto;
    padding: 10px;
}
#error-button {
	display: table;
    margin: 20px auto 0;	
}
#error-button a,
#error-button a:visited {
	color: #fff;
    text-transform: uppercase;
    background-color: #000;
    border: 1px solid transparent;
    padding: 8px;
    text-decoration: none;
    transition: background-color 0.5s ease;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: table-cell;
    margin: auto;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    vertical-align: middle;
}
#error-button a:hover {
	background-color: #fff;
	color: #333;
}

/*--------------------------------------------------------------
14.0 Form Styling
--------------------------------------------------------------*/
textarea {
	padding-left: 3px;
	width: 100%;
}
[role="button"] {
	cursor: pointer;
}
.form-control::-moz-placeholder {
	padding-top: 2px;
	color: #999;
	font-size: 0.813rem;
	font-style:italic;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	padding-top: 2px;
	color: #999;
	font-size: 0.813rem;
	font-style:italic;
}
.form-control::-webkit-input-placeholder {
	padding-top: 2px;
	color: #999;
	font-size: 0.813rem;
	font-style:italic;
}
textarea.form-control {
 	height: auto;
}
input[type="search"] {
	-webkit-appearance: none;
}

/* Begin Forms */
.form-group {
	margin-bottom: 10px;
}
.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #999;
	font-size: 0.75rem;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #d9d9d9;
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px ;
	line-height: normal;
}
input[type="file"] {
	display: block;
}
input[type="range"] {
	display: block;
	width: 100%;
}
select[multiple],
select[size] {
	height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
output {
	display: block;
	padding-top: 7px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea,
select,
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #f9f9f9;
	background-image: none;
	border: 1px solid #d9d9d9;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus,
.form-control:focus {
	background-color: #fff;
	border-color: #d3d3d3;
	outline: 0;
}
textarea {
	height: auto;
}
.radio,
.checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.radio label,
.checkbox label {
	min-height: 20px;
	padding-left: 20px;
	margin-left: 1px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	position: absolute;
	margin-left: -20px;
	margin-top: 5px;
}
.radio + .radio,
.checkbox + .checkbox {
 	margin-top: -5px;
}

/* buttons */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-color: #fff;
	color: #505050;
	border: 1px solid #c4c4c4;
	white-space: nowrap;
	padding: 5px 18px 4px;
	font-size: 0.813rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.42857143;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
.btn:focus,
.btn:active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
.btn:hover,
.btn:focus {
	background-color: #303030;
	color: #f3f3f3;
	text-decoration: none;
	border-color: transparent;
}

/* Button size */
.btn-lg {
	padding: 8px 24px 7px;
	font-size: 1.125rem;
	line-height: 1.3333333;
}
.btn-sm {
	padding: 3px 14px;
	font-size: 0.75rem;
	line-height: 1.5;
}
.btn-xs {
	padding: 0 12px;
	font-size: 0.688rem;
	line-height: 1.5;
}


/*--------------------------------------------------------------
15.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
16.0  Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/*--------------------------------------------------------------
17.0 Media Queries
--------------------------------------------------------------*/
/* Small devices (portrait phones, 320px and up) */
@media (min-width: 20em) { 
	#site-branding {
		padding: 2.5%;
	}
	/* Blog style 6 */
	.blogstyle6 .hentry {
		padding: 0 0 30px;
	}
	.blogstyle6 .hentry,
	.blogstyle6 .grid-sizer {
		width:100%;
	}	
}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 34em) { 
	#site-branding {
		min-height: 3.2em;
	}

	.site-title {
		font-size: 1.5rem;
	}

	.site-description {
		display: block;
	}
	.image-post .entry-title {
		font-size: 0.875rem;
		margin-bottom: 6px;
	}	
	.image-post .entry-meta {
		display: block;
		font-size: 0.688rem;
		line-height: 1.2;
	}
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 48em) {
	.sidebar {
		background-color: #fff;
		content: "";
		display: block;
		height: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		width: 30%;
		z-index: 9999; 
	}
	.site-content {
		margin-left: 30%;
        margin-top: 35px;
	}	
	#site-branding {
		min-height: 3rem;
	}
	.image-post .hentry {
		max-width: 50%;
	}
	.site-description {
		max-width: 75%;
	}	
	.image-post .entry-title {
		font-size: 1.125rem;
		margin-bottom: 6px;
	}
	.image-post .entry-meta {
		font-size: 0.75rem;
	}	
	
	/* Blog style 6 */
	.blogstyle6 .hentry {
		padding: 0 20px 30px;
	}	
	.blogstyle6 .hentry,
	.blogstyle6 .grid-sizer {
		width:49.75%;
	}
	
	/**** MAIN MENU ****/
	.main-navigation {
		padding: 10%;
	}
	.main-navigation .menu-toggle {
		display: none;
	}
	.main-navigation ul.nav-menu {
		display: block;
	}	
	/* We remove the margin, padding, and list style of UL and LI components */
	.main-navigation ul, 
	.main-navigation ul li {
		margin:0;
		padding:0;
		list-style:none;
	}
	
	/* We apply a cursor to the li element */
	.main-navigation ul li {
		cursor:pointer;
	}
	
	/* We position the li component */
	.main-navigation ul li:hover{
		position:relative;
	}
	
	/* We apply the link style */
	.main-navigation ul li a {
		color: #000;
        font-size: 15px;
        font-family: "Oswald";
        font-style: italic;
        line-height: 40px;
        padding: 0px 15px;
	}
	
	/* We add a carat at the end of any menu link containing a submenu */
	.main-navigation li.menu-item-has-children > a:after{
		font-family: 'FontAwesome';
		content: "\f0da";
		margin-left: 6px;
		margin-top: 0;
		position: relative;
	}
	
	/**** SECOND LEVEL MENU ****/
	/* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item/ Z-Index floats the menu above elements */
	.main-navigation ul li ul {
		text-transform: none;
		position:absolute;
		z-index: 9999;
		display:none;
        max-width: 100%;
        box-shadow: 15px 15px 30px rgba(0,0,0,0.25);
	}
	
	/* When user has hovered the li item, we show the ul list by applying display:block, note: 240px is the individual menu width.  */
	.main-navigation ul li:hover ul {
		left:100%;
		top:0px;
		display:block;
	}
	
	/* we apply different background color to 2nd level menu items*/
	.main-navigation ul li ul li {
	   background-color:#000;
	}
	
	/* We change the background color for the level 2 submenu when hovering the menu */
	.main-navigation ul li:hover ul li:hover {
		/*background-color:#b1b536;*/
	}
	
	/* We style the color of level 2 links */
	.main-navigation ul li ul li a {
		color:#fff;
		display:inline-block;
		width:225px;
		text-align: left;
	}
	
	/**** THIRD LEVEL MENU ****/
	/* We need to hide the 3rd menu, when hovering the first level menu */
	.main-navigation ul li:hover ul li ul{
		position:absolute;
		display:none;
	}
	
	/* We show the third level menu only when they hover the second level menu parent */
	.main-navigation ul li:hover ul li:hover ul{
		display:block;
		left: 100%;
		top:0;
	}
	
	/* We change the background color for the level 3 submenu*/
	.main-navigation ul li:hover ul li:hover ul li{
		/*background:#86d3fa;*/
	}
	
	/* We change the background color for the level 3 submenu when hovering the menu */
	
	.main-navigation ul li:hover ul li:hover ul li:hover{
	   /* background:#358ebc;*/
	}
	
	/* We change the level 3 link color */
	.main-navigation ul li:hover ul li ul li a:hover{
		color:#333;
	}			
			
			
	/**** HOVER ACTIVE ****/			
	/* We apply the active and hover link colour */	
	.main-navigation li.home a:hover,
	.main-navigation a:hover,
	.main-navigation .current-menu-item > a,	
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a {
		color: #FFF !important;
    background-color: #000;
    box-shadow: -5px 5px 15px rgba(0,0,0,0.2);
    padding: 2px 12px 3px 12px;
    border-radius: 100px;
	}			
	
	#error-message {
		max-width: 70%;
	}	
}

/* Large devices (desktops, 1088px and up) */
@media (min-width: 68em) {
	
	.sidebar {		
		width: 30%;
	}	
	.site-content {
		display: block;
		float: left;
		margin-left: 30%;
	}	
	.image-post .hentry {
		max-width: 33.333333%;
	}
	.site {
		margin: 0 auto;
	}
	.secondary {
		background-color: transparent;
		box-shadow: none;
		display: block;
		margin: 0;
		padding: 0;
	}
	.site-content {
		padding: 0;
	}
	.site-content.boxed{
		padding: 2% 2.5%;
	}
	
	.blog .site-content,
	.single .site-content,
	.archive .site-content,
	.page .site-content,
	.search .site-content	{
   		float: none;
	}
	.content-area {
		
	}
	.site-header {
		background-color: transparent;
		border-bottom: 0;
		text-align: right;		
	}
	.attachment .site-main {
		padding: 0 0 20px;
	}

	#site-branding-inner {
		min-height: 0;
		padding: 8% 6%;
	}
	.site-title {
		line-height: 1.2;
		text-transform: uppercase;
	}

	.site-description {
		font-size: 0.813rem;
		max-width: 100%;
	}	
	.column-footer {
		position: absolute;
		bottom:20px;
		width:100%;
		text-align: center;
	}
	/* Blog Style 5 */

	.blogstyle5 .featured-image-wrapper {
		max-width: 40%;
		float: left;
	}
	.blogstyle5 .entry-summary {
		max-width: 55%;
		float: left;
		padding: 3% 4% 1%;
	}	
	/* Image post format */
		.image-post.site-main {
		padding: 0;
	}
	
	.image-post .entry-title {
		font-size: 1.25rem;
		margin-bottom: 6px;
	}	
	
	

	.not-found {
		margin-left: 300px;
	}
	#error-overlay {
		position: absolute;
		top: 50%;
		padding: 40px 20px 60px 300px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%); 
	}	
	#error-message {
		max-width: 30%;
	}	
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 75em) {

}


/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 87em) {

	/* Blog style 6 */
	.blogstyle6 .hentry,
	.blogstyle6 .grid-sizer {
		width:33.3333%;
	}	
	.image-post .hentry {
		max-width: 25%;
	}	
}

/* Extra large devices (large desktops, 1800px and up) */
@media (min-width: 112em) {

	/* Blog style 6 */
	.blogstyle6 .hentry,
	.blogstyle6 .grid-sizer {
		width:25%;
	}		
}

/* Extra large devices (large desktops, 2160px and up) */
@media (min-width: 135em) {

	/* Blog style 6 */
	.blogstyle6 .hentry,
	.blogstyle6 .grid-sizer {
		width:24.75%;
	}	
	#landing-site-description {
		max-width: 60%;
	}	
}






/* CUSTOM */
#wpadminbar {
    opacity: 0;
}
#wpadminbar:hover {
    opacity: 1;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}


.entry-content .embed-youtube iframe,
.entry-content .embed-vimeo iframe {
    background-color: #000;
    width: 100% !important;
    min-height: 500px;
}

.entry-content p img {
    width: 100%;
    opacity: 1;
}
.entry-content p img {

}
.entry-header {}
.entry-title {
  font-style: italic;
  font-family: "Oswald", sans-serif;
  color: #AAA;
  font-weight: 700;
}
.entry-header .entry-title span {
    
}

.featured-image-wrapper {}
.featured-image-wrapper .featured-image-link  {
    display: block;
}
.featured-image-wrapper .featured-image-link img {}


.hentry {
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    position: relative;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.hentry:hover {

    z-index: 10;
    
}
.hentry .entry-summary {
    background-color: rgba(0,0,0,0.85);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 3;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    opacity: 0;
}
.hentry:hover .entry-summary {
    top: 0px;
    opacity: 1;
}
.hentry .entry-summary .more-link-wrapper {
    display: none;
}
.hentry .entry-summary .entry-header {
    padding: 30px 20px 0px 20px;
}
.hentry .entry-summary .sticky-wrapper {
    display: none;
}


.hentry .entry-summary .entry-title {
    text-align: left;
}
.hentry .entry-summary .entry-title a {
    color: #000 !important;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
    background-color: #FFF;
    padding: 5px 15px;
    display: inline-block;
}
.hentry .entry-summary .entry-content {
    padding: 20px 40px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.hentry .entry-summary .entry-content p {
    font-family: "Oswald";
    color: #CCC;
}






.edit-link {
  position: fixed;
  bottom: 10%;
  right: 0;
}
.edit-link a {
  background: #000;
  color: #FFF;
  padding: 15px 50px 17px 25px;
  box-shadow: -12px 7px 18px rgba(0,0,0,0.3);
}

.transitions {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}


/*




font-family: 'Oswald', sans-serif;








*/
